/* Galeria.css */

.filcker {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.filcker__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.filcker__container {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 200px; /* Altura fija para todas las imágenes */
}

.filcker__container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.filcker__img {
  width: 100%;
  height: 100%; /* Para que la imagen ocupe todo el espacio del contenedor */
  object-fit: cover; /* Escalar la imagen para cubrir todo el contenedor */
  display: block;
  transition: transform 0.3s ease;
}

.filcker__container:hover .filcker__img {
  transform: scale(1.05);
}
